// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Buttons

%btn {
  width: 100%;
  padding: 10px 45px;
  border: 0;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
	background-color: $lavender;
}

// Center alignment

%center-align {
	text-align: center;
}

.centered {
	float: none  !important;
	margin: 0 auto;
}
