header {
	.user-header {
		display: grid;
		grid-template-columns: 50px 30px 2fr;
		grid-gap: 10px;
		.user-notifications {
			border-right: 1px solid #5d61bf;
		}
		.avatar {
		}
		.user {
			//display: inline-block;
		}
	}
}

.notice{
	display: block;
	transition: all 1s ease-in-out;
	&.hide {
		display: none;
	}
	.alert {
		margin-right: 30px;
		margin-left: 30px;
		margin-top: 25px;
		padding: 10px;
		border-radius: 5px;
		background-color: $lavender;
		color: $white;

		.closebtn {
		    padding-left: 15px;
		    color: white;
		    font-weight: bold;
		    float: right;
		    font-size: 20px;
		    line-height: 1;
		    cursor: pointer;
		    transition: 0.3s;
		}
	}
}


.module {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	&.mobile,
	&.recent-activity,
	&.message,
	&.settings {
		border-top: 1px solid $grey;
	}
	&.new-members {
		.member-list {
			.member {
				border-bottom: 1px solid $grey;
				padding-top: 10px;
				padding-bottom: 10px;
				&:last-child {
					border-bottom: none;
				}
				.avatar {
					margin: 0 15px 0 0;
					display: inline-block;
				}
				.user {
					display: inline-block;
				}
				.date {
					display: inline-block;
					float: right;
				}
			}
		}
	}
	&.recent-activity {
		.activity-list {
			.member {
				border-bottom: 1px solid $grey;
				padding-top: 10px;
				padding-bottom: 10px;
				&:last-child {
					border-bottom: none;
				}
				.avatar {
					margin: 0 15px 0 0;
					display: inline-block;
				}
				.user {
					display: inline-block;
				}
				.more {
					display: inline-block;
					float: right;
				}
			}
		}

	}
	@media (min-width: 768px){
		&.mobile,
		&.recent-activity {
			border-top: none;
			border-left: 1px solid $grey;
		}
		&.settings {
			border-left: 1px solid $grey;
		}
	}
}

.tab {
	.heading {
		padding-right: 30px;
		padding-left: 30px;
	}
	.search {
		background-color: $off-white;
		border-bottom: 1px solid $grey;
		border-left: 1px solid $grey;
		padding-right: 30px;
	}
}

.submodule {
	background-color: $off-white;
	border: 1px solid $grey;
	border-radius: 5px;
	padding: 20px;

	.shares {
		h4 {
			color: $lavender;
			margin: 0;
		}
	}
}

.border-bottom {
	border-bottom: 1px solid $grey;
}
.border-top {
	border-top: 1px solid $grey;
}

.chart-container {
	height: 300px;
}
