//Typography:
.container {
	font-family: $font-body;
	color: color(primary);
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-weight: 300;
}

header, nav {
	color: $white;
}
h1 {
  margin: 0;
  font-size: 24px;
	font-weight: 300;
}
h2 {
	font-size: em(20px);
}

h3 {
	font-size: em(16px);
	text-transform: uppercase;
	margin-top: 0;
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.alert {
	h3 {
		font-size: 14px;
		text-transform: none;
		float: left;
		margin: 0;
		margin-right: 10px;
		//margin-left: 10px;
	}
	p {
		font-size: 14px;
		margin: 0;
	}
}

.submodule{
	.count {
		margin: 0;
		font-size: 48px;
		line-height: 1;
	}
}

.new-members {
	.email {
		line-height: 1;
		a {
			font-size: 14px;
			color: $lavender;
		}
	}
	.date {
		font-size: 14px;
	}
}
.recent-activity {
	.time {
		font-size: 14px;
		line-height: 1;
	}
}

.notification-list {
	h3 {
		font-size: 12px;
		margin: 5px 10px 0;
	}
	.clear-notifications {
		font-size: 10px;
	}
	ul {
		li{
			font-size: 12px;
			line-height: 1;
		}
	}
}
